@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    color: white;
    --main-font: 'Roboto Mono', monospace;
    --secondary-color: #061724;
}

.container {
    min-width: 370px;
    position: relative;
    font-family: var(--main-font);
    background-color: #154c79;
    text-align: center;
    display: grid;
    grid-template: 40vh 1fr 1fr 1fr 100px / 1fr;
    grid-template-columns: 2;
    height: 100vh;
}

.title {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 400px;
    height: 100px;
    box-shadow: 10px 10px white;
}

.contents h1 {
    font-size: 1.5em;
}

.contents p {
    margin-top: 20px;
    font-size: 0.9em;
}

.scoreboard {
    grid-area: 2 / 1 / 2 / 1;
    display: flex;
    justify-content: center;
}

.names {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px var(--secondary-color);
    width: 300px;
    height: 50px;
}

.messages {
    grid-area: 3 / 1 / 3 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    grid-area: 4 / 1 / 4 / 1;
}

.restart {
    grid-area: 4 / 1 / 4 / 1;
}

button {
    border: none;
    width: 100px;
    height: 30px;
    background-color: var(--secondary-color);
    box-shadow: 5px 5px white;
    margin-left: 10px;
    margin-right: 10px;
}

.inactive {
    opacity: 0;
    pointer-events: none;
}


button:hover {
    box-shadow: 5px 5px #f0e2e2;
}

button:active {
    box-shadow: 3px 3px #f0e2e2;
}

@media (max-width: 570px) {
    .contents {
        width: 75vw;
    }

    .options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    button {
        margin-top: 20px;
    }
}
